<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ola´ </h1>
    <p>
      Your friend <%= @username %> wanted to share this recipe with you: <%= @recipe %>
    </p>
  </body>
</html>