<div>
  <ul>
    <li>Preferencia de comida: <%=link_to @food_preference.food_preference, @food_preference %></li>
    <li><%= link_to "Editar", edit_food_preference_path(@food_preference) %></li>
    <li><%= link_to "Deletar", @food_preference, :method => :delete %></li>
  </ul>
</div>