<h2>Todas as preferencias de comida</h2>

<div>
  <ul>
    <% @food_preferences.each do |food_preference| %>
      <li>Tipo de comida: <%=link_to food_preference.food_preference, food_preference %></li>
    <% end %>
    <br>
    <li><%= link_to "Criar nova Preferencia de Comida", new_food_preference_path %></li>
  </ul>
</div>
